{% extends 'base.html' %}
{% block contents %}
<h3 class="text-center">최진영에 관한 TMI</h3>
<hr>
<body>
    <h3><a href="{% url 'new' %}"><button type="button" class="btn btn-success">게시글작성</button></a></h3>
    {% for blog in blogs.all %}
    <div class="card" style="margin-bottom : 25px;">
        <div class="card-body">
            <h5 class="card-title">{{blog.title}}</h5>
            {{blog.name}}
            {{blog.location}}
            {{blog.pub_date}}
            <p class="card-text">{{blog.summary}}</p>
            <a href="{% url 'detail' blog.id %}" class="btn btn-primary">더보기</a>
        </div>
    </div>
    {% endfor %}
</body>
<footer class="text-center">
    <h5><a href="{% url 'main' %}"> 여기를 누르면 main으로 돌아갑니다</h5>
</footer>
{% endblock %}